<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test ReportPortal Suite">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>

    <test name="Get User Tests">
        <classes>
            <class name="restAPI.getUsersTests.GetUsersTest"/>
            <class name="restAPI.getUsersTests.DataProviderExample"/>
        </classes>
    </test>
</suite>

